@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 65px;
    color: hsl(0, 0%, 13%);
}

h2 {
    font-size: 45px;
    line-height: 55px;
    color: hsl(0, 0%, 13%);
}

h4 {
    font-size: 20px;

}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

body {
    width: 100%;
}

.section-padding1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: hsl(0, 0%, 0%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: hsl(0, 0%, 100%);
    background-color: transparent;
    cursor: pointer;
    border: 1px solid hsl(0, 0%, 100%);
    outline: none;
    transition: 0.2s;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: hsl(229, 40%, 92%);
    box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
} 

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: hsl(0, 0%, 10%);
    transition: 0.3s ease;
}

#navbar li a:hover, 
#navbar li a.active
{
    color: hsl(176, 88%, 27%);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: hsl(176, 88%, 27%);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Home Page */
#hero {
    background-image: url(images/hero-main.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: hsl(176, 88%, 27%);
}

#hero button {
    background-image: url("images/button.png");
    background-color: transparent;
    color: hsl(176, 88%, 27%);
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .feature-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px hsla(0, 0%, 0%, 0.03);
    border: 1px solid hsl(129, 36%, 85%);
    border-radius: 4px;
    margin: 15px 0;
}

#feature .feature-box:hover {
    box-shadow: 10px 10px 54px hsla(243, 70%, 55%, 0.1);
}

#feature .feature-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .feature-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: hsl(176, 88%, 27%);
    background-color: hsl(347, 89%, 93%);
}

#feature .feature-box:nth-child(2) h6{
    background-color: hsl(98, 54%, 83%);
}

#feature .feature-box:nth-child(3) h6{
    background-color: hsl(198, 56%, 88%);
}

#feature .feature-box:nth-child(4) h6{
    background-color: hsl(67, 70%, 58%);
}

#feature .feature-box:nth-child(5) h6{
    background-color: hsl(300, 60%, 91%);
}

#feature .feature-box:nth-child(6) h6{
    background-color: hsl(30, 100%, 95%);
}

#product1 {
    text-align: center;
}

#product1 .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}

#product1 .product{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid hsl(129, 36%, 85%);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px hsla(0, 0%, 0%, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .product:hover {
    box-shadow: 20px 20px 30px hsla(0, 0%, 0%, 0.06);

}

#product1 .product img {
    width: 100%;
    border-radius: 20px;
}

#product1 .product .description {
    text-align: start;
    padding: 10px 0;
}

#product1 .product .description span {
    color: hsl(0, 0%, 19%);
    font-size: 12px;
}

#product1 .product .description h5 {
    padding-top: 7px;
    color: hsl(0, 0%, 10%);
    font-size: 14px;
}

#product1 .product .description i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .product .description h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: hsl(176, 88%, 27%);
}

#product1 .product .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: hsl(129, 44%, 94%);
    color: hsl(176, 88%, 27%);
    border: 1px solid hsl(129, 36%, 85%);
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("images/banner.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: hsl(0, 0%, 100%);
    font-size: 16px;
}

#banner h2 {
    color: hsl(0, 0%, 100%);
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: hsl(0, 100%, 50%);
}

#banner button:hover {
    background-color: hsl(176, 88%, 27%);
    color: hsl(0, 0%, 100%);
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("images/banner2.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2 {
    background-image: url("images/banner3.jpg");
}

#sm-banner h4 {
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color: hsl(0, 0%, 100%);
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span {
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background-color: hsl(183, 89%, 28%);
    border: 1px solid hsl(183, 89%, 28%);
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("images/banner4.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 h2 {
    color: hsl(0, 0%, 100%);
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3 {
    color: hsl(0, 92%, 52%);
    font-weight: 800;
    font-size: 15px;
}

#banner3 .banner-box2 {
    background-image: url("images/banner5.jpeg");
}

#banner3 .banner-box3 {
    background-image: url("images/banner6.jpg");
}