@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 65px;
    color: hsl(0, 0%, 13%);
}

h2 {
    font-size: 45px;
    line-height: 55px;
    color: hsl(0, 0%, 13%);
}

h4 {
    font-size: 20px;

}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

body {
    width: 100%;
}

.section-p1 {
    margin: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}